@font-face
  font-family 'instabrand'
  src url('../fonts/instabrand.eot?gp6hph')
  src url('../fonts/instabrand.eot?#iefixgp6hph') format('embedded-opentype'),
    url('../fonts/instabrand.woff?gp6hph') format('woff'),
    url('../fonts/instabrand.ttf?gp6hph') format('truetype'),
    url('../fonts/instabrand.svg?gp6hph#instabrand') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'instabrand'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-app
  .path1
    &:before
      content "\e60b"
      color rgb(0, 0, 0)
  .path2
    &:before
      content "\e60c"
      margin-left -1em
      color rgb(255, 255, 255)
  .path3
    &:before
      content "\e60d"
      margin-left -1em
      color rgb(255, 255, 255)
  .path4
    &:before
      content "\e60e"
      margin-left -1em
      color rgb(255, 255, 255)

.icon-youtube-full
  &:before
    content "\e612"

.icon-vimeo-full
  &:before
    content "\e613"

.icon-tumblr-full
  &:before
    content "\e614"

.icon-snap-full
  &:before
    content "\e615"

.icon-insta-full
  &:before
    content "\e616"

.icon-pin-full
  &:before
    content "\e617"

.icon-linkedin-full
  &:before
    content "\e618"

.icon-vine-full
  &:before
    content "\e619"

.icon-twitter-full
  &:before
    content "\e61a"

.icon-fb-full
  &:before
    content "\e61b"

.icon-pdf
  &:before
    content "\e61c"

.icon-pinterest
  &:before
    content "\e61d"

.icon-twitter
  &:before
    content "\e61e"

.icon-facebook
  &:before
    content "\e61f"

.icon-youtube
  &:before
    content "\e620"

.icon-snapchat
  &:before
    content "\e621"

.icon-vine
  &:before
    content "\e622"

.icon-instagram
  &:before
    content "\e623"

.icon-decline
  &:before
    content "\e624"

.icon-user-chat
  &:before
    content "\e625"

.icon-camera
  &:before
    content "\e626"

.icon-map-pin
  &:before
    content "\e627"

.icon-hash
  &:before
    content "\e628"

.icon-tag-line
  &:before
    content "\e629"

.icon-settings
  &:before
    content "\e62a"

.icon-globe
  &:before
    content "\e62b"

.icon-ccw
  &:before
    content "\e62c"

.icon-dollar
  &:before
    content "\e62d"

.icon-cw
  &:before
    content "\e62e"

.icon-heart
  &:before
    content "\e62f"

.icon-comment
  &:before
    content "\e630"

.icon-info
  &:before
    content "\e631"

.icon-spam
  &:before
    content "\e639"

.icon-tag
  &:before
    content "\e63a"

.icon-location
  &:before
    content "\e63b"

.icon-checkmark
  &:before
    content "\e63c"

.icon-user
  &:before
    content "\e63d"

.icon-sync
  &:before
    content "\e63e"

.icon-add-circle
  &:before
    content "\e63f"

.icon-remove-circle
  &:before
    content "\e640"

.icon-cancel
  &:before
    content "\e641"

.icon-expand-more
  &:before
    content "\e642"

.icon-unfold-more
  &:before
    content "\e643"

.icon-uniE620
  &:before
    content "\e644"

.icon-pinterest2
  &:before
    content "\e645"

.icon-th-large
  &:before
    content "\e646"

.icon-pencil
  &:before
    content "\e647"

.icon-edit
  &:before
    content "\e648"

.icon-clock
  &:before
    content "\e649"

.icon-wrench
  &:before
    content "\e64a"

.icon-bars
  &:before
    content "\e64b"

.icon-share
  &:before
    content "\e64c"

.icon-insta
  &:before
    content "\e64d"

.icon-vine
  &:before
    content "\e64e"

.icon-vimeo
  &:before
    content "\e64f"

.icon-twitter
  &:before
    content "\e650"

.icon-facebook
  &:before
    content "\e651"

.icon-tumblr
  &:before
    content "\e652"

.icon-utensils
  &:before
    content "\e632"

.icon-sunglasses
  &:before
    content "\e633"

.icon-moviereel
  &:before
    content "\e634"

.icon-lipstick
  &:before
    content "\e635"

.icon-hanger
  &:before
    content "\e636"

.icon-hammer
  &:before
    content "\e637"

.icon-family
  &:before
    content "\e638"

.icon-dumbbells
  .path1
    &:before
      content "\e600"
      color rgb(34, 34, 34)
  .path2
    &:before
      content "\e601"
      margin-left -1.7216796875em
      color rgb(17, 17, 17)
  .path3
    &:before
      content "\e602"
      margin-left -1.7216796875em
      color rgb(17, 17, 17)
  .path4
    &:before
      content "\e603"
      margin-left -1.7216796875em
      color rgb(17, 17, 17)
  .path5
    &:before
      content "\e604"
      margin-left -1.7216796875em
      color rgb(17, 17, 17)
  .path6
    &:before
      content "\e605"
      margin-left -1.7216796875em
      color rgb(17, 17, 17)

.icon-car
  .path1
    &:before
      content "\e606"
      color rgb(17, 17, 17)
  .path2
    &:before
      content "\e607"
      margin-left -1.7568359375em
      color rgb(34, 34, 34)
  .path3
    &:before
      content "\e608"
      margin-left -1.7568359375em
      color rgb(17, 17, 17)
  .path4
    &:before
      content "\e609"
      margin-left -1.7568359375em
      color rgb(17, 17, 17)

.icon-briefcase
  &:before
    content "\e60a"

.icon-snapchat
  &:before
    content "\e60f"

.icon-linkedin
  &:before
    content "\e610"

.icon-youtube
  &:before
    content "\e611"

