#campaigns-posts
  h4.title
    font-size 25px
    color #162136
    font-weight bold
    font-family "Raleway", Arial, Helvetica, sans-serif
  .post
    img
      max-width 100%
  .statistics
    .stat-block
      i
        color #6ccf85
        font-size 30px
        padding 5px 0