<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2">
  <form>
      <h1 class="text-center">Login</h1>
      <div class="text text-center">
        <p>Forgot your password? Please enter your email address, which you registered when signed up with Instabrand, and we will send you a temporary password</p>
      </div>
      <div class="form-alt-box">
        <div class="form-group">
          <div>
            <label>Your Email <span class="required">*</span></label>
            <input class="form-control" data-validate="true" data-required="true" data-validate-error-container="#error-container" placeholder="" name="YumPasswordRecoveryForm[login_or_email]" id="YumPasswordRecoveryForm_login_or_email" type="text"> </div>
        </div>
      </div>
      <div>
        <a ui-sref="app.login" class="btn btn-default">&lt; Back</a>
        <input type="submit" class="btn add btn-default" value="Reset password">
      </div>
  </form>
</div>
