<div class="modal fade" id="caseStudyModalFerra" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Ferragamo Case Study</h4>
      </div>
      <div class="modal-body">
        <p>In efforts to make Italian luxury brand Salvatore Ferragamo relatable to the growing young demographic, the brand crafted a marketing initiative titled #eleganzais. They asked audiences throughout various social media platforms the simple question:What does elegance mean to you?</p>
        <p>To initiate conversation surrounding this theme, the brand chose the trendiest IG influencers- @anastassiashley, @jaglever, @katiearmour, and @rubbleandrock to promote different interpretations. Their creative team followed these influencers for one day of filming to capture Anastasia's Strength, Jaglever's Freedom, Katie's Creativity and RubbleandRock's refinement. The culminating result was a well crafted narrative of beautiful inclusion of the theme displayed throughout various outlets, specifically the brand's Tumblr page <a href="http://eleganzais.tumblr.com/" target="_blank">http://eleganzais.tumblr.com/</a></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="caseStudyModalRevolve" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Revolve Case Study</h4>
      </div>
      <div class="modal-body">
        To stand out as the premier online fashion stop, REVOLVEclothing created the #RevolveMe hashtag and sweepstakes. Ran entirely on Instagram, REVOLVEclothing relied on the InstaBrand network to trend throughout Instagram. In 1 month, the influencers’ strategically planned content encouraged activity surrounding the #RevolveMe hashtag by reaching a total of 6 million targeted Instagram users, and encouraged a total of 810+ public posts using hashtag. This innovative approach realized the goal to drive traffic to the website and sales by flooding the Instagram platform with REVOLVEclothing items and style through an influencer centered “word of mouth” approach.
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="caseStudyModalCoordinates" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Coordinates Case Study</h4>
      </div>
      <div class="modal-body">
        Up and coming high end brand Coordinates Collection has quickly become the most recognizable bracelet on the web. Through InstaBrand's social network, influencers were chosen based on the brand's image. The bracelet was then beautifully photographed by taste makers and shared with +2 million users on Instagram. The brand's social media account not only grew, but also grew awareness through #giftcoordinates, a hashtag thought up in the campaign. Many of the influential images have since been reposted by audiences around social media platforms like Pinterest. The campaign has since encouraged others to sport their bracelet in the same way the fashion influencers did and shared their own personal Coordinates Collection story.
      </div>
    </div>
  </div>
</div>