<section class="simple-slider">
  <ul ng-mouseenter="stopAutoSlide()" ng-mouseleave="startAutoSlide()">
    <li ng-class="{'active': tab === 1}" data-bg="assets/img/home/slider/1.jpg">
      <div class="container">
        <div class="text-box">
          <h2>Make ads personal</h2>
          <p>We are dedicated to bringing the human element to advertising, by replacing ads with stories and storytellers.</p>
          <div class="controls-wrap">
            <ul class="controls">
              <li ng-class="{'active': tab === 1}" ng-click="sliderGoToTab(1)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 2}" ng-click="sliderGoToTab(2)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 3}" ng-click="sliderGoToTab(3)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 4}" ng-click="sliderGoToTab(4)">
                <a></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li ng-class="{'active': tab === 2}" data-bg="assets/img/home/slider/2.jpg">
      <div class="container">
        <div class="text-box">
          <h2>
              Easily Connect
            </h2>
          <p>Whether you're a brand looking for the right person to tell your story, or you're an influential storyteller trying to find a brand that gets you, we make it easy for you to connect.</p>
          <div class="controls-wrap">
            <ul class="controls">
              <li ng-class="{'active': tab === 1}" ng-click="sliderGoToTab(1)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 2}" ng-click="sliderGoToTab(2)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 3}" ng-click="sliderGoToTab(3)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 4}" ng-click="sliderGoToTab(4)">
                <a></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li ng-class="{'active': tab === 3}" data-bg="assets/img/home/slider/3.jpg">
      <div class="container">
        <div class="text-box">
          <h2>
              Data on Data
            </h2>
          <p>Track your social footprint and influencer efforts. InstaBrand provides real-time analytics and comprehensive reporting.</p>
          <div class="controls-wrap">
            <ul class="controls">
              <li ng-class="{'active': tab === 1}" ng-click="sliderGoToTab(1)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 2}" ng-click="sliderGoToTab(2)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 3}" ng-click="sliderGoToTab(3)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 4}" ng-click="sliderGoToTab(4)">
                <a></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li ng-class="{'active': tab === 4}" data-bg="assets/img/home/slider/4.jpg" data-full="true">
      <div class="container">
        <div class="text-box">
          <h2>
              Get Started  
            </h2>
          <p>Request a demo and a dedicated account manager will help you get started with your ideal campaign.</p>
          <div class="controls-wrap">
            <ul class="controls">
              <li ng-class="{'active': tab === 1}" ng-click="sliderGoToTab(1)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 2}" ng-click="sliderGoToTab(2)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 3}" ng-click="sliderGoToTab(3)">
                <a></a>
              </li>
              <li ng-class="{'active': tab === 4}" ng-click="sliderGoToTab(4)">
                <a></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
