<div class="container careers m-b-xxl">
  <div class="text-box text-center">
    <h1>Careers</h1>
    <p>We're fueled by talent. Let us know if you're a good fit for any of our open positions.</p>
    <ul class="accordion-container">
      <li id="career_1">
        <a class="title" href="#career_1" toggle-accordion>Full Stack Senior Developer</a>
        <div class="details">
          <p>We are looking to fill a contract-to-hire developer position with the below experience. Your roles will primarily be in backend development helping develop and maintain new features for our revolutionary platform that connects brands with influential people in a way that has never been done before. </p>
          <h2>Responsibilities</h2>
          <ul>
            <li>Backend dev configuring functionality in Controllers and models</li>
            <li>Frontend development creating views and modifying templates.</li>
            <li>Optimizing caching and page load speed.</li>
          </ul>
          <h2>Requirements</h2>
          <ul>
            <li>At least 4 years experience with PHP and MySQL</li>
            <li>At least 2 years experience with Yii or similar MVC frameworks </li>
            <li>Frontend languages/frameworks: HTML, CSS, Sass, JavaScript, Jquery and Bootstrap </li>
            <li>Experience using git and working in Agile team environment</li>
            <li>Comfortable using linux command line.</li>
            <li>Located in Los Angeles, CA area</li>
          </ul>
          <div class="btn-hold text-right">
            <a href="mailto:careers@instabrand.com" class="btn btn-default btn-lg">Apply now</a>
          </div>
        </div>
      </li>
      <li id="career_2">
        <a class="title" href="#career_2" toggle-accordion>Mid-Level Sales Representative</a>
        <div class="details">
          <h2>GENERAL SUMMARY:</h2>
          <p>Achieve maximum sales profitability, growth and account penetration within an assigned market segment by effectively selling the company’s products and/or related services. Personally contacts and secures new business accounts/customers.
          </p>
          <p>
            To summarize, your job duties shall include but not be limited to:
          </p>
          <ul>
            <li>Generating Sales Leads</li>
            <li>Creating Proposals per Brands Requests</li>
            <li>Identifying New Work Opportunities</li>
            <li>Developing and Maintaining Customer Relationships</li>
            <li>Participates in trade shows and conventions</li>
            <li>Supplies management with oral and written reports on customer needs, problems, interests, competitive activities, and potential for new products and services</li>
            <li>Tracking / Reporting all leads, centers of influencers (coi), and clients</li>
          </ul>
          <h2>DETAILS OF FUNCTION:</h2>
          <ul>
            <li>Establishes, develops and maintains business relationships with current customers and prospective customers in the assigned territory/market segment to generate new business for the organization’s products/services.</li>
            <li>Makes telephone calls and in-person visits and presentations to existing and prospective customers.</li>
            <li>Researches sources for developing prospective customers and for information to determine their potential.</li>
            <li>Develops clear and effective written proposals/quotations for current and prospective customers.</li>
            <li>Coordinates sales effort with marketing, sales management, accounting, and logistics service groups.</li>
            <li>Analyzes the territory/market’s potential and determines the value of existing and prospective customers value to the organization.</li>
            <li>Creates and manages a customer value plan for existing customers highlighting profile, share and value opportunities.</li>
            <li>Identifies advantages and compares organization’s products/services.</li>
            <li>Plans and organizes personal sales strategy by maximizing the Return on Time Investment for the territory/segment.</li>
            <li>Supplies management with oral and written reports on customer needs, problems, interests, competitive activities, and potential for new products and services.</li>
            <li>Keeps abreast of product applications, technical services, market conditions, competitive activities, advertising and promotional trends through the reading of pertinent literature and consulting with marketing and technical service areas.</li>
            <li>Participates in trade shows and conventions.</li>
          </ul>
          <h2>QUALIFICATIONS:</h2>
          <ul>
            <li>Media sales experience (both tradition and /or non-traditional).</li>
            <li>Previous agency relationships a BIG plus.</li>
            <li>Creative, compelling and persuasive presentation and negotiation skills.</li>
            <li>Strategic, consultative selling technique with ability to navigate large and complex deals.</li>
            <li>Must be results-orientated and able to work both independently and within a team environment.</li>
            <li>Must possess excellent verbal and written communication skills.</li>
          </ul>
          <div class="btn-hold text-right">
            <a href="mailto:careers@instabrand.com" class="btn btn-default btn-lg">Apply now</a>
          </div>
        </div>
      </li>
      <li id="career_3">
        <a class="title" href="#career_3" toggle-accordion>Product / UX Specialist</a>
        <div class="details">
          <p> InstaBrand is looking for a UX SPECIALIST to join our growing team in Los Angeles. You will be collaborating with all departments, taking in all feedback and ideas to help create the roadmap for a lean product plan and creating wireframes + prototypes. You will coordinate with UI and Engineers to help innovate and maintain new features on the InstaBrand platform for the customer-facing web dashboard, campaign builder and analytics. </p>
          <h2>Responsibilities</h2>
          <ul>
            <li>Work closely and collaboratively with marketing, sales, account management, design and technical teams in the creation of appropriate and effective UX. </li>
            <li>Define the roadmap for InstaBrand platform objectives</li>
            <li>Perform Discovery and UX planning and testing, reviews and results analysis to ensure that voice of the customer insights are captured and leveraged.</li>
            <li>Perform Discovery and UX planning and testing, reviews and results analysis to ensure that voice of the customer insights are captured and leveraged.</li>
            <li>Capture website requirements including brand message, marketing, customer experience, operational, development and usability requirements.</li>
            <li>Build Site Maps, Wireframes, Prototypes and documentation that clearly articulates site/application structure and organization </li>
            <li>Ensure ease of navigation and simplicity of design </li>
            <li>Educate internal teams by presenting content and site structure</li>
            <li>Review and provide feedback throughout the design and development life cycle </li>
            <li>Identify and evaluate statistical indicators and perform gap and impact analysis to continuously improve and evolve the end-user experience </li>
            <li>Create and maintain system-wide usability and editorial guidelines, design frameworks, and GUI prototypes. </li>
          </ul>
          <h2>Requirements</h2>
          <ul>
            <li>Strong educational background. Top-tier MBA preferred, or equivalent in field experience.</li>
            <li>3-5 years experience in a UX role and product management background within the technology sector.</li>
            <li>Demonstrated experience in project management, analysis and the ability to work across multiple teams. </li>
            <li>Excellent analytical, verbal, and written skills.</li>
            <li>Results oriented, self-motivated.</li>
            <li>Extremely organized and detail oriented.</li>
            <li>Ability to create well detailed wireframes and prototypes.</li>
          </ul>
          <div class="btn-hold text-right">
            <a href="mailto:careers@instabrand.com" class="btn btn-default btn-lg">Apply now</a>
          </div>
        </div>
      </li>
      <li id="career_4">
        <a class="title" href="#career_4" toggle-accordion>Social Media / Community Manager</a>
        <div class="details">
          <p> Our Los Angeles office is looking for a FULL-TIME Social Media Manager who is ready to implement their deep knowledge of the social media industry and foster relationships with our key influencers.
          </p>
          <h2>Job description:</h2>
          <ul>
            <li>Develop and implement innovative strategies to support marketing activities and drive exposure of InstaBrand as a leader in the influencer marketing space through creative campaigns, concepts and integrations with key social media channels.</li>
            <li>Responsible for daily maintenance and posting content across multiple social media channels </li>
            <li>Manage editorial calendar for​ all content being distributed through various channels</li>
            <li>Develop and execute social media campaigns and organize events to foster influencer community and direct traffic to through social media channel.</li>
            <li>Use and analyze data to innovate new and creative ways to engage with audiences on social platforms</li>
            <li>Monitor trends in social media technologies, tools, applications and audience behavior ​and apply that knowledge to our social strategies</li>
          </ul>
          <h2>Requirements:</h2>
          <ul>
            <li>Bachelor's degree required</li>
            <li>Excellent communication skills, both verbal and written</li>
            <li>Previous social media background including proven community management experience preferred</li>
            <li>Strong organizational skills, ability to multitask in a fast paced environment and work effectively under changing priorities with time sensitive tasks​</li>
            <li>Team player, with the ability to build internal networks to accomplish goals through collaboration with​ multiple teams</li>
          </ul>
          <div class="btn-hold text-right">
            <a href="mailto:careers@instabrand.com" class="btn btn-default btn-lg">Apply now</a>
          </div>
        </div>
      </li>
      <li id="career_5">
        <a class="title" href="#career_5" toggle-accordion>Junior Account Manager</a>
        <div class="details">
          <p> Our Los Angeles office is looking for a FULL-TIME Junior Account Manager who is interested in gaining first-hand marketing experience in the fashion and social media industry. InstaBrand is the leading influencer marketing company, where we use our network of talent like celebrities, bloggers &amp; trendsetters to promote brands. Our team is fun, energetic, insanely focused and highly driven!</p>
          <h2>Responsibilities</h2>
          <ul>
            <li>Assisting in the development, evaluation and implementation of campaigns, as well as, but not limited to:</li>
            <li>Develop relationships with influencers in given campaign to ensure that all aspects of the campaign are fulfilled</li>
            <li>Oversee all outgoing and incoming product shipments</li>
            <li>Monitor campaign posts</li>
          </ul>
          <h2>Requirements</h2>
          <ul>
            <li>Bachelor’s Degree in marketing, advertising, public relations, business or other communications-related industry.</li>
            <li>Organized, reliable, punctual</li>
            <li>Excellent verbal &amp; written communication skills</li>
            <li>Good sense of humor </li>
            <li>Previous work experience in Marketing is a plus, but not necessary!</li>
          </ul>
          <div class="btn-hold text-right">
            <a href="mailto:careers@instabrand.com" class="btn btn-default btn-lg">Apply now</a>
          </div>
        </div>
      </li>
      <li id="career_6">
        <a class="title" href="#career_6" toggle-accordion>Intern</a>
        <div class="details">
          <p> Our Los Angeles office is looking for interns who are interested in gaining first-hand marketing experience in the fashion and social media industry. InstaBrand is the leading influencer marketing company, where we use our network of talent like celebrities, bloggers &amp; trendsetters to promote brands. Our team is fun, energetic, insanely focused and highly driven!
          </p>
          <h2>Responsibilities:</h2>
          <ul>
            <li>Assist with development, evaluation and implementation of campaigns</li>
            <li>Oversee all outgoing and incoming product shipments </li>
            <li>Monitor campaign posts</li>
            <li>Develop and execute social media campaigns and organize events to foster influencer community and direct traffic to through social media channel.</li>
            <li>Use and analyze data to innovate new and creative ways to engage with audiences on social platforms</li>
            <li>Monitor trends in social media technologies, tools, applications and audience behavior ​and apply that knowledge to our social strategies</li>
          </ul>
          <h2>Requirements:</h2>
          <ul>
            <li>Strong passion for social media of any kind!</li>
            <li>Organized, reliable, punctual</li>
            <li>Excellent verbal &amp; written communication skills</li>
            <li>Good sense of humor </li>
          </ul>
          <div class="btn-hold text-right">
            <a href="mailto:careers@instabrand.com" class="btn btn-default btn-lg">Apply now</a>
          </div>
        </div>
      </li>
      <li id="career_7">
        <a class="title" href="#career_7" toggle-accordion>Junior Brand Engineer / Business Development</a>
        <div class="details">
          <p> Our Los Angeles office is looking for a FULL-TIME Junior Brand Engineer who is ready to expand their existing knowledge of the social media industry and implement it in the Business Development of an exciting .</p>
          <h2>Responsibilities</h2>
          <ul>
            <li>Assisting in the development of influencer marketing campaigns</li>
            <li>Assisting in preparation of proposals and case studies</li>
            <li>Develop and manage relationships with influencers and monitoring of their campaigns</li>
            <li>Assistance in and management of outbound reach</li>
            <li>Market and client research</li>
          </ul>
          <h2>Requirements</h2>
          <ul>
            <li>Bachelor’s Degree in marketing, advertising, public relations, business or other communications-related industry</li>
            <li>You are organized, reliable, punctual</li>
            <li>You have a strong customer oriented thinking</li>
            <li>Excellent verbal &amp; written communication skills</li>
            <li>Knowledge of social media applications, excel and keynote like the back of your hand</li>
            <li>Previous work experience in Marketing is a plus, but not necessary!</li>
          </ul>
          <div class="btn-hold text-right">
            <a href="mailto:careers@instabrand.com" class="btn btn-default btn-lg">Apply now</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
