<div class="container company m-b-xxl">
  <div class="text-box text-center">
    <h1>Our Company</h1>
    <div class="note black">
      Our mission is to offer brands the chance to connect with and inspire millions of people on a foundation of trust. InstaBRAND's organic advertising platform can change how the world sees you.
    </div>
    <p class="m-t-lg">Brands who want to grow need to be talked about, and it isn't enough to just be social. You need trusted influencers on your side so you know that you're being heard. InstaBRAND's platform offers a vast network of influencers with the kind of reach that can help your brand connect with millions of people in a meaningful way. We deliver substantial increases in engagement and awareness, along with rich analytics to track your social growth.</p>
    <div class="note black m-t-lg">
      In the press
    </div>
    <div class="clearfix"></div>
    <div class="logos m-t-lg">
      <a target="_blank" href="http://digiday.com/platforms/vine-instagram-stars-brands/"><img src="assets/img/about/company/1.jpg" alt=""></a>
      <a target="_blank" href="http://techli.com/2014/06/from-instagram-to-instabrand-startup-helps-marketers-make-most-of-platform/"><img src="assets/img/about/company/2.jpg" alt=""></a>
      <a target="_blank" href="http://socialtimes.com/instabrand-connects-brands-influencers-genuine-engagement_b147862"><img src="assets/img/about/company/3.jpg" alt=""></a>
      <a target="_blank" href="http://www.adweek.com/news/technology/5-things-marketers-are-saying-about-vines-loop-count-158728"><img src="assets/img/about/company/4.jpg" alt=""></a>
      <a target="_blank" href="http://www.latimes.com/business/la-fi-advertising-disrupted-20150102-story.html#page=1"><img src="assets/img/about/company/5.jpg" alt=""></a>
      <a target="_blank" href="http://www.inc.com/murray-newlands/top-5-brands-you-should-learn-from-on-vine.html"><img src="assets/img/about/company/6.jpg" alt=""></a>
      <a target="_blank" href="http://www.ft.com/intl/cms/s/0/cffd04ba-8256-11e4-a9bb-00144feabdc0.html#axzz3Qhr4iuMB"><img src="assets/img/about/company/7.jpg" alt=""></a>
    </div>
  </div>
</div>
