<div id="dashboard-influencer">
	<div class="container">
		<div class="col-md-9 col-sm-12 col-xs-12 nopadding">
			<header class="dashboard-influencer-header">
					<h1>Dashboard</h1>
					<div class="alert alert-info">
						<h2>Welcome to InstaBrand!</h2>
						<p><b>What next?</b><br/>
						We are now filtering through our brands and looking for some good matches for you. Once we find you some matches you will be notified and you can then let us know if you would like to post with them or not.
						</p>
					</div>
			</header>
			<div class="content-block">
				<h2>Requests</h2>

				<div class="btn-group visible-xs-block" role="group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						New
						<span class="icon-expand-more pull-right"></span>
					</button>
					<ul class="dropdown-menu tab-head" role="menu">
						<li class="active"><a href="#">New</a></li>
						<li><a  href="#">Confirmed</a></li>
						<li><a  href="#">Declined</a></li>
					</ul>
				</div>
				<ul role="tablist" class="request-btns list-unstyled hidden-xs col-sm-8 nopadding">
					<li class="col-sm-4" class="active"><a class="btn" data-toggle="tab" role="tab" href="#">New</a></li>
					<li class="col-sm-4"><a class="btn" data-toggle="tab" role="tab" href="#">Confirmed</a></li>
					<li class="col-sm-4"><a class="btn" data-toggle="tab" role="tab" href="#">Declined</a></li>
				</ul>
				<div class="requests-table">
					<div class="row requests-header hidden-xs">
						<div class="col-sm-4">Brand</div>
						<div class="col-sm-2">Product</div>
						<div class="col-sm-2">Quantity</div>
						<div class="col-sm-2">Price</div>
						<div class="col-sm-2">Status</div>
					</div>
					<div class="row request-row">
						<div class="request-column col-sm-4">
							<img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/11138058_462916850539861_751744322_a.jpg"/>
							<span class="brand-requested">Instabrand</span>
						</div>
						<div class="request-column col-sm-2"><span class="icon-sync"></span> Test</div>
						<div class="request-column col-sm-2"><span class="icon-twitter"> X </span>1</div>
						<div class="request-column col-sm-2"><span class="icon-tag"></span> $500</div>
						<div class="request-column col-sm-2">Declined</div>
					</div>
					<div class="row request-row">
						<div class="request-column col-sm-4">
							<img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/11138058_462916850539861_751744322_a.jpg"/>
							<span class="brand-requested">Instabrand</span>
						</div>
						<div class="request-column col-sm-2"><span class="icon-sync"></span> Test</div>
						<div class="request-column col-sm-2"><span class="icon-twitter"> X </span>1</div>
						<div class="request-column col-sm-2"><span class="icon-tag"></span> $500</div>
						<div class="request-column col-sm-2">Declined</div>
					</div>
				</div>
			</div>

			<div class="content-block">
				<ul role="tablist" class="view-list">
					<li><a class="icon-th-large" data-toggle="tab" role="tab" href="#grid"></a></li>
					<li><a class="icon-bars" data-toggle="tab" role="tab" href="#list"></a></li>
					<li class="active"><a class="icon-globe" data-toggle="tab" role="tab" href="#calendar"></a></li>
				</ul>

				<h2>Scheduled Posts</h2>


			</div>
		<div class="col-md-3 col-sm-12 col-xs-12 sidebar"></div>
	</div>
</div>