#hashtags
  .panel.panel-default 
    .panel-heading
      padding 15px
      color #ccc
      font-size 22px
      background-color transparent
    &.separated
        .panel-heading
          padding 0
          > div
            padding 15px
            &:first-child
              border-right 1px solid #e7e8ea
        .panel-body
          padding 0
          > div
            padding 15px 30px
            &:first-child
              border-right 1px solid #e7e8ea
            .index
              position absolute
              top 0
              left 0
            
    b
      color #162136
      
  .overview
    .stat-block
      i
        color #6ccf85
        font-size 30px
        padding 5px 0