<div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1">
  <form ng-submit="influencerAccount.saveShippingData()">
    <h1 class="text-center">Shipping address</h1>
    <div class="row">
      <div class="form-group">
        <label>Full Name <span class="required">*</span></label>
        <input class="form-control" type="text" ng-model="influencerAccount.shipping.fullName">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label>Address 1 <span class="required">*</span></label>
        <input class="form-control" type="text" ng-model="influencerAccount.shipping.address1">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label>Address 2</label>
        <input class="form-control" type="text" ng-model="influencerAccount.shipping.address2">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label>City <span class="required">*</span></label>
        <input class="form-control" type="text" ng-model="influencerAccount.shipping.city">
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="form-group col-md-6">
          <label>State <span class="required">*</span></label>
          <input class="form-control" type="text" ng-model="influencerAccount.shipping.state">
        </div>
        <div class="form-group col-md-6">
          <label>Zip <span class="required">*</span></label>
          <input class="form-control" type="text" ng-model="influencerAccount.shipping.zip">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center clearfix">
        <input class="btn btn-default btn-lg" value="Cancel">
        <input type="submit" class="btn btn-success btn-lg" value="Save">
      </div>
    </div>
  </form>
</div>
